

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active">Forget Password</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Login Start -->
<div class="login">
    <div class="container">
        <div class="section-header" style="text-align: center;">
            <h3>Forgot password</h3>
            {{#if done}}
            <p class="alert alert-success">
                Da gui email vao hop thu cua ban nhe. Vui long lam theo huong dan trong email de reset mat khau!!!
            </p>
            {{else}}
             <p>
                Nhap vao email cua ban nhe!!!
            </p>
            {{/if}}    
        </div>
        {{#unless done}}
        <div class="row">            
            <div class="col-md-6 mx-auto" >
                {{!-- FORGET PASSWORD FORM NHE --}}
                <form action="/users/forgot" method="post" id="formForgot">
                    <div class="forgot-form">
                        <div class="row">
                           
                            <div class="col-md-12">
                                <label>E-mail</label>
                                <input class="form-control" type="email" placeholder="E-mail" name="email" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                            </div>
                           
                            <div class="col-md-12">
                                <button class="mt-3 btn btn-outline-dark">Submit</button>
                            </div>

                            {{!-- neu co thong tin register --}}
                            {{!-- dung flash dua ra --}}
                            {{#if message}}
                            <div class="col-md-12">
                                <div class="p-3 mt-3 alert alert-warning">{{{message}}}</div>                            
                            </div>
                            {{/if}}
                            {{!-- het if --}}
                            
                        </div>
                    </div>
                </form>    
                
            </div>
        </div>
        {{/unless}}
    </div>
</div>
<!-- Login End -->

